/**Import mixins**/
@font-face {
  font-family: Comfortaa-Regular;
  src: url("../fonts/Comfortaa/Comfortaa-Regular.eot");
  src: url("../fonts/Comfortaa/Comfortaa-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Comfortaa/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Regular.ttf") format("truetype"), url("../fonts/Comfortaa/Comfortaa-Regular.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0; }

body, html {
  font-family: Comfortaa-Regular;
  color: #333333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px; }

button {
  padding: 10px 15px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: none;
  outline: none;
  font-family: Comfortaa-Regular;
  background: #333333;
  color: #ffffff;
  cursor: pointer; }

.container {
  min-width: 1280px;
  width: 100%;
  margin: 0 auto; }
  .container .orange-button {
    background: #FF883F;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .container .orange-button:hover {
      background: #F56400; }
  .container .green-button {
    background: #3ECF7A;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .container .green-button:hover {
      background: #27AE60; }
  .container .sub-title {
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center; }

.header {
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  height: 80px; }
  .header .header-container {
    width: 1280px;
    height: 70px;
    margin: 0 auto; }
    .header .header-container .separator {
      position: relative; }
      .header .header-container .separator:after {
        content: "";
        position: absolute;
        top: 25px;
        height: 30px;
        right: 0;
        border-right: 1px solid #333333; }
    .header .header-container .logo {
      height: 100%;
      float: left; }
      .header .header-container .logo img {
        height: 30px;
        padding: 25px 25px 0 0; }
    .header .header-container .title {
      height: 100%;
      padding: 0 25px;
      float: left;
      text-transform: uppercase; }
      .header .header-container .title .orange-title {
        margin-top: 25px;
        color: #FF883F; }
    .header .header-container .place {
      float: left;
      margin-left: 25px;
      position: relative;
      cursor: pointer; }
      .header .header-container .place:before {
        position: absolute;
        content: "";
        margin-top: 25px;
        top: 5px;
        bottom: 10px;
        left: 0px;
        height: 18px;
        width: 18px;
        background-image: url("../new-images/arrow.png"); }
      .header .header-container .place:after {
        position: absolute;
        content: "";
        margin-top: 25px;
        top: 10px;
        bottom: 10px;
        right: 0px;
        height: 9px;
        width: 16px;
        background-repeat: no-repeat;
        background-image: url("../new-images/arrow-down-gray.png"); }
      .header .header-container .place .places {
        cursor: pointer;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        font-family: Comfortaa-Regular;
        text-decoration: underline;
        border: 0;
        margin-top: 15px;
        overflow: hidden;
        padding: 18px 26px;
        padding-right: 36px;
        white-space: nowrap;
        outline: none; }
      .header .header-container .place select::-ms-expand {
        display: none; }
    .header .header-container .active-place .places {
      color: #FF883F;
      text-decoration: none; }
    .header .header-container .active-place:after {
      background-image: url("../new-images/arrow-down.png"); }
    .header .header-container .user-panel {
      float: right; }
      .header .header-container .user-panel .heart {
        cursor: pointer;
        float: left;
        margin-top: 28px;
        display: inline-block;
        background-repeat: no-repeat;
        height: 23px;
        width: 25px;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background-image: url("../new-images/heart-light-contour.png"); }
        .header .header-container .user-panel .heart:hover {
          background-image: url("../new-images/heart-contour.png"); }
      .header .header-container .user-panel button {
        display: block;
        float: left;
        margin-top: 23px;
        margin-left: 20px;
        height: 33px; }
      .header .header-container .user-panel .orange-button {
        width: 90px; }
      .header .header-container .user-panel .green-button {
        width: 180px; }
    .header .header-container .registered .heart {
      cursor: pointer;
      font-style: normal;
      color: #ffffff;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background-image: url("../new-images/heart-light-orange.png"); }
      .header .header-container .registered .heart:hover {
        background-image: url("../new-images/heart-orange.png"); }
      .header .header-container .registered .heart span {
        display: inline-block;
        padding-top: 4px;
        padding-left: 4px; }
    .header .header-container .registered button {
      background: transparent;
      border: 1px solid #FF883F;
      color: #333333;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 90px; }
      .header .header-container .registered button:hover {
        background: #FAFAFA;
        border: 1px solid #F56400; }
    .header .header-container .registered .user-button {
      color: #0066CC;
      border: none;
      text-decoration: underline;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      margin-left: 20px;
      width: 180px; }
      .header .header-container .registered .user-button:hover {
        background: transparent;
        border: none;
        color: #F56400;
        text-decoration: none; }

.nav {
  border-bottom: 1px solid #CCCCCC; }
  .nav ul {
    margin: 0 auto;
    width: 1280px;
    list-style: none; }
    .nav ul li {
      display: inline-block;
      padding-left: 40px; }
      .nav ul li:first-child {
        padding: 0; }
      .nav ul li a {
        line-height: 46px;
        height: 48px;
        display: inline-block;
        text-decoration: none;
        color: #333333;
        border-color: #FF883F; }
        .nav ul li a:hover {
          height: 46px;
          color: #FF883F;
          border-bottom: 2px solid #FF883F; }
      .nav ul li .beta {
        position: relative; }
        .nav ul li .beta:after {
          font-size: 8px;
          content: 'Beta';
          position: absolute;
          top: -8px;
          right: 0; }

.slideshow-content {
  position: relative;
  overflow: hidden; }
  .slideshow-content li {
    position: relative; }
    .slideshow-content li .caption-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 1280px;
      margin: 0 auto; }
      .slideshow-content li .caption-wrapper .title-slide {
        background: #ffffff;
        position: absolute;
        top: 56px;
        left: 0;
        width: 445px;
        height: 103px;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px; }
        .slideshow-content li .caption-wrapper .title-slide .orange-title-slide {
          color: #FF883F; }
      .slideshow-content li .caption-wrapper p {
        font-size: 20px;
        padding-top: 18px;
        padding-left: 20px; }
      .slideshow-content li .caption-wrapper .high-text {
        text-transform: uppercase; }
    .slideshow-content li img {
      border-bottom: 1px solid #CCCCCC; }
  .slideshow-content .flex-direction-nav {
    position: absolute;
    width: 1280px;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    list-style: none;
    height: 100%; }
    .slideshow-content .flex-direction-nav a {
      position: absolute;
      opacity: 0.65;
      width: 75px;
      height: 75px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      background: #ffffff;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .slideshow-content .flex-direction-nav a:hover {
        background: #FF883F; }
      .slideshow-content .flex-direction-nav a em {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 41px;
        width: 21px;
        margin: auto;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover; }
    .slideshow-content .flex-direction-nav .flex-prev {
      left: -23px; }
      .slideshow-content .flex-direction-nav .flex-prev em {
        right: 5px;
        background-image: url("../new-images/left-gray-arrow.png"); }
    .slideshow-content .flex-direction-nav .flex-next {
      right: -23px; }
      .slideshow-content .flex-direction-nav .flex-next em {
        left: 5px;
        background-image: url("../new-images/right-gray-arrow.png"); }

.information {
  margin-top: 35px; }
  .information .row {
    margin: 0 auto;
    width: 1280px; }
    .information .row .col {
      width: 426px;
      float: left;
      position: relative; }
      .information .row .col:last-child {
        width: 428px; }
      .information .row .col .hundred {
        height: 60px;
        width: 110px;
        -webkit-background-size: auto auto;
           -moz-background-size: auto;
             -o-background-size: auto;
                background-size: auto;
        position: absolute;
        left: 0px;
        top: 0;
        content: ' ';
        background-image: url("../new-images/hundred.png");
        background-repeat: no-repeat;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        .information .row .col .hundred:hover {
          background-image: url("../new-images/hundred-active.png"); }
      .information .row .col .navigator {
        height: 60px;
        width: 110px;
        -webkit-background-size: auto auto;
           -moz-background-size: auto;
             -o-background-size: auto;
                background-size: auto;
        position: absolute;
        left: 35px;
        top: 0;
        content: ' ';
        background-image: url("../new-images/navigator.png");
        background-repeat: no-repeat;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        .information .row .col .navigator:hover {
          background-image: url("../new-images/navigator-active.png"); }
      .information .row .col .stars {
        height: 60px;
        width: 110px;
        -webkit-background-size: auto auto;
           -moz-background-size: auto;
             -o-background-size: auto;
                background-size: auto;
        position: absolute;
        left: 30px;
        top: 0;
        content: ' ';
        background-image: url("../new-images/stars.png");
        background-repeat: no-repeat;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        .information .row .col .stars:hover {
          background-image: url("../new-images/stars-active.png"); }
      .information .row .col .content-information {
        margin-left: 110px;
        padding-left: 25px;
        border-left: 1px solid #333333;
        font-size: 16px;
        height: 60px;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
      .information .row .col .more-information {
        padding-top: 20px;
        margin-top: 0px;
        font-size: 14px;
        line-height: 1.5;
        overflow: hidden;
        max-height: 0;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
  .information .more-line {
    padding-top: 42.5px;
    clear: both;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .information .more-line .more-button {
      position: absolute;
      left: 45%;
      top: 25px;
      height: 33px;
      width: 130px;
      background: #ffffff;
      color: #333333;
      -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
              border-radius: 15px;
      border: 1px solid #CCCCCC;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .information .more-line-active {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #FF883F; }
    .information .more-line-active .more-button {
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease;
      border: 1px solid #FF883F;
      background: #FAFAFA; }

.categories {
  width: 1280px;
  margin: 0 auto; }
  .categories .sub-title {
    margin-top: 76.5px; }
  .categories .categories-list {
    list-style: none; }
    .categories .categories-list .category-item {
      display: inline-block;
      width: 12%; }
      .categories .categories-list .category-item a {
        display: inline-block;
        color: #333333;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: relative;
        height: 160px;
        position: relative;
        width: 100%; }
        .categories .categories-list .category-item a .item-image {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 120px; }
          .categories .categories-list .category-item a .item-image img {
            display: block;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease; }
        .categories .categories-list .category-item a .category-name {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          height: 22px;
          line-height: 1.5; }
        .categories .categories-list .category-item a:hover {
          color: #FF883F; }
          .categories .categories-list .category-item a:hover img {
            bottom: 7px; }

.popular-items {
  width: 1280px;
  margin: 0 auto;
  position: relative; }
  .popular-items .popular-items-list {
    list-style: none;
    padding-left: 39px;
    padding-right: 39px; }
    .popular-items .popular-items-list .popular-item {
      margin-left: 24px;
      float: left;
      display: block;
      position: relative;
      outline: none; }
      .popular-items .popular-items-list .popular-item .popular-item-content {
        width: 280px;
        border: 1px solid #CCCCCC;
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        margin-bottom: 10px; }
        .popular-items .popular-items-list .popular-item .popular-item-content:hover {
          -webkit-box-shadow: 0 2px 4px rgba(51, 51, 51, 0.35);
             -moz-box-shadow: 0 2px 4px rgba(51, 51, 51, 0.35);
                  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.35); }
        .popular-items .popular-items-list .popular-item .popular-item-content .image-item {
          position: relative; }
          .popular-items .popular-items-list .popular-item .popular-item-content .image-item img {
            height: 262px; }
          .popular-items .popular-items-list .popular-item .popular-item-content .image-item .heart {
            position: absolute;
            top: 16px;
            right: 16px;
            content: url("../new-images/popular-heart.png");
            height: 23px;
            width: 25px;
            z-index: 1;
            cursor: pointer; }
            .popular-items .popular-items-list .popular-item .popular-item-content .image-item .heart:hover {
              content: url("../new-images/popular-heart-broken.png"); }
          .popular-items .popular-items-list .popular-item .popular-item-content .image-item .empty {
            content: url("../new-images/popular-heart-empty.png"); }
            .popular-items .popular-items-list .popular-item .popular-item-content .image-item .empty:hover {
              content: url("../new-images/popular-heart.png"); }
          .popular-items .popular-items-list .popular-item .popular-item-content .image-item .more-information-item {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(51, 51, 51, 0.85);
            color: #ffffff; }
            .popular-items .popular-items-list .popular-item .popular-item-content .image-item .more-information-item .size {
              margin: 15px; }
            .popular-items .popular-items-list .popular-item .popular-item-content .image-item .more-information-item .underline-text {
              margin-top: 22px;
              text-decoration: underline; }
            .popular-items .popular-items-list .popular-item .popular-item-content .image-item .more-information-item p {
              margin-left: 15px;
              line-height: 1.4; }
        .popular-items .popular-items-list .popular-item .popular-item-content .details {
          height: 119px;
          padding-right: 12px; }
          .popular-items .popular-items-list .popular-item .popular-item-content .details .stars {
            padding-top: 10px;
            padding-left: 15px;
            height: 15px;
            width: 80px;
            position: relative; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .stars .empty {
              position: absolute;
              width: 100%;
              height: 100%;
              background: url("../new-images/star-empty.png") repeat-x; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .stars .raiting {
              position: absolute;
              width: 100%;
              height: 100%;
              background: url("../new-images/star.png") repeat-x; }
          .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers {
            color: #27AE60;
            margin-top: 7px;
            height: 27px;
            font-size: 12px;
            padding-left: 15px; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .type-of-deliver {
              height: 30px;
              margin-top: 2px;
              float: left; }
              .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .type-of-deliver .explain {
                -webkit-transition: opacity 1s ease-out;
                -o-transition: opacity 1s ease-out;
                -moz-transition: opacity 1s ease-out;
                transition: opacity 1s ease-out;
                opacity: 0;
                height: 0;
                overflow: hidden; }
              .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .type-of-deliver .icon {
                -webkit-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                transition: all 1s ease-out; }
              .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .type-of-deliver:hover .explain {
                opacity: 1;
                height: auto; }
              .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .type-of-deliver:hover .icon {
                opacity: 0;
                height: 0;
                overflow: hidden; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .deliver {
              margin-left: 21px;
              margin-right: 25px; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .delivers .date-of-deliver {
              float: left; }
          .popular-items .popular-items-list .popular-item .popular-item-content .details .buy-section {
            margin-top: 10px; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .buy-section .price {
              font-size: 20px;
              width: 140px;
              display: inline-block;
              text-align: center;
              vertical-align: sub; }
            .popular-items .popular-items-list .popular-item .popular-item-content .details .buy-section .buy-button {
              height: 33px;
              width: 123px;
              font-weight: 500;
              display: inline-block; }
  .popular-items .arrow {
    padding: 0;
    position: absolute;
    top: 50%;
    background: transparent; }
  .popular-items .left-arrow {
    left: 0; }
  .popular-items .right-arrow {
    right: 0; }

.best-of {
  margin-top: 58px;
  display: block;
  clear: both;
  height: 335px;
  background: url("../new-images/the-best.png") no-repeat center;
  border-bottom: 1px solid #CCCCCC; }
  .best-of .content {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    position: relative; }
    .best-of .content h2 {
      padding-top: 94px;
      text-transform: uppercase;
      font-size: 33px;
      font-weight: 500; }
    .best-of .content .orange-text {
      color: #FF883F; }
    .best-of .content img {
      position: absolute;
      left: 0;
      bottom: 66px;
      height: 30px; }

.main-information {
  width: 1280px;
  margin: 15px auto;
  line-height: 1.7;
  font-size: 16px; }
  .main-information p {
    padding-top: 25px; }
  .main-information a {
    color: #0066CC;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .main-information a:hover {
      color: #FF883F;
      text-decoration: none; }
  .main-information ul {
    padding-left: 15px; }

.instagram-section {
  width: 1280px;
  margin: 0 auto; }
  .instagram-section .instagram-content {
    position: relative; }
    .instagram-section .instagram-content .instagram-list {
      padding: 0 43px;
      list-style: none; }
      .instagram-section .instagram-content .instagram-list .instagram-item {
        display: inline-block;
        height: 180px;
        width: 175px;
        margin-left: 29px; }
        .instagram-section .instagram-content .instagram-list .instagram-item a {
          display: inline-block; }
          .instagram-section .instagram-content .instagram-list .instagram-item a img {
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out; }
            .instagram-section .instagram-content .instagram-list .instagram-item a img:hover {
              margin-bottom: 5px;
              -webkit-box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.35);
                 -moz-box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.35);
                      box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.35); }
    .instagram-section .instagram-content .arrow {
      padding: 0;
      position: absolute;
      top: 36%;
      background: transparent; }
    .instagram-section .instagram-content .left-arrow {
      left: 0; }
    .instagram-section .instagram-content .right-arrow {
      right: 0; }

.footer {
  background: #3B4749;
  padding-top: 30px;
  margin-top: 53px;
  height: 125px; }
  .footer .footer-content {
    width: 1280px;
    margin: 0 auto;
    line-height: 1.7; }
    .footer .footer-content .bolder {
      font-weight: bolder;
      padding-bottom: 17px; }
    .footer .footer-content .social-section {
      margin-left: 188px;
      float: left; }
      .footer .footer-content .social-section p {
        color: #ffffff;
        margin-bottom: 15px; }
      .footer .footer-content .social-section ul {
        list-style: none; }
        .footer .footer-content .social-section ul li {
          display: inline-block;
          margin: 3px; }
    .footer .footer-content .for-people {
      margin-left: 65px;
      display: inline-block; }
      .footer .footer-content .for-people ul {
        list-style: none; }
        .footer .footer-content .for-people ul li {
          display: block;
          margin: 3px; }
          .footer .footer-content .for-people ul li p {
            color: #ffffff;
            line-height: 1; }
          .footer .footer-content .for-people ul li a {
            text-decoration: none;
            color: #ffffff;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
            padding-bottom: 12px; }
            .footer .footer-content .for-people ul li a:hover {
              color: #F56400; }
    .footer .footer-content .pays {
      margin-right: 188px;
      float: right;
      display: inline-block; }
      .footer .footer-content .pays .webpay {
        display: inline-block; }
      .footer .footer-content .pays .belki {
        margin-top: 5px;
        margin-left: 15px;
        display: inline-block; }
