/**Import mixins**/
@import 'node_modules/sass-font-face/font-face';
@include font-face(Comfortaa-Regular, "../fonts/Comfortaa/", "Comfortaa-Regular", null);

$main-width: 100%;
$narrow-width: 1280px;
$white: #ffffff;
$light-grey: #CCCCCC;
$main-color: #333333;
$orange: #FF883F;
$dark-orange: #F56400;
$green: #3ECF7A;
$dark-green: #27AE60;
$footer-color: #3B4749;
$main-font: Comfortaa-Regular;

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
body, html {
    font-family: $main-font;
    color: $main-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
	padding: 10px 15px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-family: $main-font;
	background: $main-color;
	color: $white;
}

.container {
	width: $main-width;
	margin: 0 auto;
	// Start orange button
	.orange-button {
		background: $orange;
		transition: all 0.5s ease ;
		&:hover {
			background: $dark-orange;
		}
	}
	// End orange button
	// Start green button
	.green-button {
		background: $green;
		transition: all 0.5s ease ;
		&:hover {
			background: $dark-green;
		}
	}
	// End green button
	// Start sub title
	.sub-title {
		text-transform: uppercase;
		margin: 40px;
		text-align: center;
	}
	// End sub title
	// Start header
	.header {
		width: $main-width;
		border-bottom: 1px solid $light-grey;
		.header-container{
			width: $narrow-width;
			height: 70px;
			margin: 0 auto;			
			// Start separator
			.separator {
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 15px;
					bottom: 15px;
					right: 0;				
					border-right: 1px solid $main-color;
				}
			}
			// End separator
			// Start logo
			.logo {
				height: 100%;			
				float: left;
				img {
					padding: 15px 15px 0 0;
				}
			}
			// End logo
			// Start title
			.title {
				height: 100%;
				padding: 0 40px;
				float: left;
				text-transform: uppercase;
				.orange-title{
					margin-top: 15px;
					color: $orange;
				}
			}
			// End title
			// Start place
			.place {
				float: left;
				margin-left: 25px;
				position: relative;
				&:before{
					position: absolute;
					content: "";
					margin-top: 15px;
					top: 10px;
					bottom: 10px;
					left: 0px;
					height: 18px;
					width: 18px;
					background-image: url('../new-images/arrow.png');
				}
				&:after{
					position: absolute;
					content: "";
					margin-top: 15px;
					top: 15px;
					bottom: 10px;
					right: 0px;
					height: 9px;
					width: 16px;
					background-repeat: no-repeat;
					background-image: url('../new-images/arrow-down-gray.png');
				}
				.places{
					appearance: none;
					font-family: $main-font;
					text-decoration: underline;
					border: 0;
					margin-top: 10px;				
					overflow: hidden;
					padding: 15px 26px;			   
					white-space: nowrap;				
					outline: none;								
				}
				select::-ms-expand {
				    display: none;
				}				

			}
			// End place
			// Start active place
			.active-place {
				.places {
					color: $orange;
					text-decoration: none;
				}
				&:after{
					background-image: url('../new-images/arrow-down.png');
				}				

			}
			// End active place
			// Start user panel
			.user-panel {
				float: right;			
				.heart {		
					float: left;		
					margin-top: 20px;
					margin-right: 5px;
					display: inline-block;
					background-repeat: no-repeat;
					height: 26px;
					width: 26px;
					background-image: url('../new-images/heart-light-contour.png');
				}
				.active-heart {				
					background-image: url('../new-images/heart-contour.png');
				}
				button {
					display: block;
					float: left;
					margin-top: 15px;
					margin-left: 10px;
				}
			}
			// End user panel
			// Start registered
			.registered {			
				.heart {	
					font-style: normal;
					color: $white;			
					background-image: url('../new-images/heart-light-orange.png');
					span {
						display: inline-block;
						padding-top: 3px;
						padding-left: 4px;
						font-size: 11pt;
					}
				}
				.active-heart {				
					background-image: url('../new-images/heart-orange.png');
				}
				button {
					background: transparent;
					border: 1px solid $orange;
					color: $main-color;
					transition: all 0.3s ease;
					&:hover {
						border: 1px solid $dark-orange;
					}
				}						
				.user-button {
					color: #0066CC;
					border: none;
					text-decoration: underline;
					transition: all 0.3s ease;
					&:hover {
						border: none;
						color: $dark-orange;
						text-decoration: none;
					}
				}						
			}
			// End registered
		}
	}
	// End header
	// Start nav
	.nav {
		border-bottom: 1px solid $light-grey;		
		ul {
			margin: 0 auto;
			width: $narrow-width;
			list-style: none;			
			li {
				display: inline-block;				
				padding: 0 15px;
				&:first-child {
					padding:0;
				}
				a {
					margin-top: 17px;
					padding-bottom: 15px;
					display: inline-block;
					text-decoration: none;
					color: $main-color;					
					border-color: $orange;
					transition: all 0.3s ease;
					&:hover {
						color: $orange;
						padding-bottom: 13px;
						border-bottom: 2px solid $orange;
					}
				}
				.beta {
					position: relative;
					&:after {
						font-size: 7pt;
						content: 'Beta';
						position: absolute;
						top: -8px;
						right: 0;
					}
				}
			}
		}
	}
	// End nav
	// Start slideshow
	.slideshow-content {
		position: relative;
		.title-slide {
			padding: 20px;
			background: $white;
			position: absolute;
			top: 100px;
			left: 100px;
			box-shadow: 0 2px 2px $light-grey;
			.orange-title-slide {
				color: $orange;
			}
		}
		.high-text {
			text-transform: uppercase;
		}
		.arrow {
			opacity: 0.65;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			background: $white;			
			position: absolute;
			top: 50%;
			padding-top: 15px;
			transition: all 0.3s ease;
			&:hover {
				background: $orange;				
			}
		}
		.left-arrow {
			left: 100px;
		}
		.right-arrow {
			right: 100px;
		}
	}
	// End slideshow
	// Start information
	.information {
		width: $main-width;
		margin: 0 auto;
		margin-top: 35px;
		.row{
			margin: 0 auto;
			width: $narrow-width;
			// Start col
			.col {
				width:33%;
				float: left;	

				.content-information {
					margin-left: 100px; 
					padding-left: 10px;
					border-left: 1px solid $main-color;
				}
				//Start icons for col
				.hundred {
					position: relative;
					&:before {
						height: 100%;
						width: 100%;
						position: absolute;
						left: -95px;
						top: 0;
						content: ' ';
						background-image: url('../new-images/hundred.png');
						background-repeat: no-repeat;						
					}
				}
				.navigator {
					position: relative;
					&:before {
						height: 100%;
						width: 100%;
						position: absolute;
						left: -50px;
						top: 0;
						content: ' ';
						background-image: url('../new-images/big-arrow.png');
						background-repeat: no-repeat;
						position: absolute;
					}
				}
				.stars {
					position: relative;
					&:before {
						height: 100%;
						width: 100%;
						position: absolute;
						left: -55px;
						top: 0;
						content: ' ';
						background-image: url('../new-images/stars.png');
						background-repeat: no-repeat;
					}
				}
				// End icons for col
				.more-information {
					margin-top: 20px;
					font-size: 11pt;
					line-height: 1.5;					
					overflow: hidden;
					max-height: 0;
					transition: all 0.3s ease-out;
				}
			}
			// End col
		}
		//End row
		// Start more-line
		.more-line {
			padding-top: 40px;
			clear: both;
			border-bottom: 1px solid $light-grey;
			position: relative;
			transition: all 0.5s ease ;
			.more-button {
				position: absolute;
				left: 45%;
				top: 20px;;
				background: $white;
				color: $main-color;
				border-radius: 15px;
				border: 1px solid $light-grey;
				transition: all 0.5s ease ;
			}
		}
		// End more-line
		// Start more-line
		.more-line-active {
			transition: all 0.5s ease ;			
			border-bottom: 1px solid $orange;
			.more-button {	
				transition: all 0.5s ease ;			
				border: 1px solid $orange;
			}
		}
		// End more-line-active
	}
	// End information
	// Start categories
	.categories {
		width: $narrow-width;
		margin: 0 auto;		
		// Start categories list
		.categories-list {
			list-style: none;
			// Start category item
			.category-item {
				display: inline-block;
				width: 12%;
				a {
					display: inline-block;
					color: $main-color;
					text-decoration: none;
					transition: all 0.3s ease;
					position: relative;
					height: 180px;
					position: relative;
					width: 100%;
					// Start item image
					.item-image {		
						position: absolute;
						top: 0;
						left: 0;
						right: 0;				
						height: 120px;
						img {
							display: block;
							margin: auto;
							position: absolute;
						    top: 0;
						    bottom: 0;
						    left: 0;
						    right: 0;
							transition: all 0.3s ease;
						}
					}
					// End item image
					// Start category name					
					.category-name {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						text-align: center;
						height: 50px;
					}
					// End category name
					// Start hover effect for item
					&:hover {						
						color: $orange;
						img {							
							opacity: 0.3;
						}
					}
					// End hover effect for item
				}
			}
			// End category item
		}
		// End categories list
	}
	// End categories
	// Start popular items
	.popular-items {
		width: $narrow-width;		
		margin: 0 auto;
		position: relative;
		min-height: 450px;
		.popular-items-list {
			list-style: none;
			padding-left: 44px;
			padding-right: 44px;
			.popular-item {				
				width: 25%;
				float: left;
				display: block;				
				position: relative;				
				// Start popular item
				.popular-item-content {
					margin: 10px;
					border: 1px solid $light-grey;transition: all 0.5s ease-out;
					&:hover {
						box-shadow: 2px 2px 3px rgba(51,51,51,0.5);
					}
					.image-item {
						position: relative;
						img {
							max-width: 100%;
						}
						// Start heart
						.heart {
							position: absolute;
							top: 30px;
							right: 30px;
							content: url('../new-images/heart-orange.png');
							height: 27px;
							width: 27px;
							z-index: 1;
							&:hover {
								content: url('../new-images/broken-heart.png');
							}
						}
						.empty {
							content: url('../new-images/heart-contour.png');
							&:hover {
								content: url('../new-images/heart-orange.png');
							}
						}
						// End heart
						.more-information-item {
							position: absolute; 
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background:rgba(51,51,51,0.85); 
							color: $white;							
							.size {
								margin: 15px;
							}
							.underline-text {
								margin-top: 22px;
								text-decoration: underline;
							}
							p {
								margin-left: 15px;
							}
						}
					}
					// Start details
					.details {
						margin: 10px;
						// Start stars
						.stars {							
							list-style: none;
							.star {
								display: inline-block;
								em {
									display: inline-block;
									width: 15px;
									height: 15px;
									background-repeat: no-repeat;
									background-image:url('../new-images/star.png');
								}
							}
							.empty {
								em {
									background-image:url('../new-images/star-empty.png');
								}
							}
						}
						// End stars
						// Start delivers
						.delivers {
							font-size: 9pt;
							color: $dark-green;
							margin-top: 10px;
								height: 30px;
							.type-of-deliver {								
								word-wrap: true;
								width: 25%;
								height: 30px;
								float: left;								
								word-wrap: break-word;
								.explain {
									transition: opacity 1s ease-out;
								    opacity: 0; 
								    height: 0;
								    overflow: hidden;
								}
								.icon {
									transition: all 1s ease-out;
								}
								&:hover {
									.explain {
										opacity: 1;
    									height: auto;
									}
									.icon {
										opacity: 0; 
									    height: 0;
									    overflow: hidden;
									}
								}
							}
							.date-of-deliver {
								width: 50%;
								float: left;
							}
						}
						// End delivers
						// Start buy section
						.buy-section {
							margin-top: 10px;
							.price {
								width: 50%;
								display: inline-block;
							}
							.buy-button {
								width: 45%;
								display: inline-block;
							}
						}
						// End buy section
					}
					// End details
				}
				// End popular item content				
			}
			// End popular item 
		}
		.arrow {			
				position: absolute;
				top: 50%;
				background: transparent;
			}
			.left-arrow {
				left: 0px;
			}
			.right-arrow {
				right: 0px;
			}
	}
	// End popular items
	// Start best of
	.best-of {
		display: block;
		clear: both;
		height: 335px;
		background-image: url('../new-images/the-best.png');
		.content {
			width: $narrow-width;
			margin: 0 auto;
			h2 {
				margin-left: 15px;
				padding-top: 100px;
				text-transform: uppercase;
			}
			.orange-text {
				color: $orange;
			}
			img {
				margin-left: 15px;
				margin-top: 100px;
			}
		}
	}
	// End best of
	// Start main information
	.main-information {
		width: $narrow-width;
		margin: 15px auto;
		line-height: 1.7;
		p {
			padding-top: 25px;			
		}
		a {
			color: #0066CC;
			text-decoration: underline;
			transition: all 0.3s ease;
			&:hover {
				color: $orange;
				text-decoration: none;
			}
		}
		ul {
			padding-left: 15px;
		}

	}
	// End main information
	// Start instagram
	.instagram-section {
		width: $narrow-width;
		margin: 0 auto;
		.instagram-content {
			position: relative;
			padding: 0 40px;
			.instagram-list {
				list-style: none;
				.instagram-item {
					display: inline-block;
					width: 16%;
					height: 174px;
					a {
						display: inline-block;
						margin: 10px;
						img {
							width: 100%;
							height: 100%;
						} 
					}
				}
			}
			.arrow {			
				position: absolute;
				top: 40%;
				background: transparent;
			}
			.left-arrow {
				left: 0px;
			}
			.right-arrow {
				right: 20px;
			}		
		}
	}
	// End instagram
	// Start footer
	.footer {		
		background: $footer-color;
		margin-top: 30px;
		padding: 30px;
		height: 100px;
		.footer-content {
			width: $narrow-width;
			margin: 0 auto;
			line-height: 1.7;
			padding-top: 15px;
			.social-section {
				margin-left: 150px;
				float: left;
				p {
					color: $white;
					margin-bottom: 15px;
				}
				ul {
					list-style: none;
					li {
						display: inline-block;
						margin: 3px;
					}
				}	
			}
			.for-people {
				margin-left: 50px;
				display: inline-block;
				ul {
					list-style: none;
					li {
						display: block;
						margin: 3px;						
						p {
							color: $white;							
						}
						a {
							text-decoration: none;
							color: $white;
							transition: all 0.3s ease;
							&:hover {
								color: $dark-orange;
							}
						}
					}
				}
			}
			.pays {
				padding-left: 50px;
				display: inline-block;
				.webpay {
					display: inline-block;
				}
				.belki {
					margin-top: 5px;
					margin-left:15px;
					display: inline-block;					
				}
			}
		}
	}
	// End footer
}