/**Import mixins**/
@import 'node_modules/sass-font-face/font-face';
@include font-face(Comfortaa-Regular, "../fonts/Comfortaa/", "Comfortaa-Regular", null);

$main-width: 100%;
$narrow-width: 1280px;
$white: #ffffff;
$light-grey: #CCCCCC;
$light-light-grey: #FAFAFA;
$main-color: #333333;
$orange: #FF883F;
$dark-orange: #F56400;
$green: #3ECF7A;
$dark-green: #27AE60;
$footer-color: #3B4749;
$main-font: Comfortaa-Regular;

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
body, html {
    font-family: $main-font;
    color: $main-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}
button {
	padding: 10px 15px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-family: $main-font;
	background: $main-color;
	color: $white;
	cursor: pointer;
}

.container {
	min-width: 1280px;
	width: $main-width;
	margin: 0 auto;
	// Start orange button
	.orange-button {
		background: $orange;
		transition: all 0.5s ease;
		&:hover {
			background: $dark-orange;
		}
	}
	// End orange button
	// Start green button
	.green-button {
		background: $green;
		transition: all 0.5s ease ;
		&:hover {
			background: $dark-green;
		}
	}
	// End green button
	// Start sub title
	.sub-title {
		text-transform: uppercase;
		margin-top: 60px;
		margin-bottom: 40px;
		text-align: center;
	}
	// End sub title
}

@import 'partials/header';
@import 'partials/nav';
@import 'partials/slider';
@import 'partials/information';
@import 'partials/category-items';
@import 'partials/popular-items';
@import 'partials/the-best';
@import 'partials/about';
@import 'partials/instagram';
@import 'partials/footer';
@media (max-width: 1280px) {
	.container {
		padding: 0 30px;
	}
}