// Start instagram
.instagram-section {
	width: $narrow-width;
	margin: 0 auto;
	.instagram-content {
		position: relative;
		.instagram-list {
			padding: 0 43px;
			list-style: none;
			.instagram-item {
				display: inline-block;
				height: 175px;
				width: 175px;
				margin-left: 29px;
				a {
					display: inline-block;
					img {
						width: 100%;
						height: 100%;
					} 
				}
			}
		}
		.arrow {			
			position: absolute;
			top: 36%;
			background: transparent;
		}
		.left-arrow {
			left: -16px;
		}
		.right-arrow {
			right: -16px;
		}		
	}
}
// End instagram