// Start popular items
.popular-items {
	width: $narrow-width;		
	margin: 0 auto;
	position: relative;
	.popular-items-list {
		list-style: none;
		padding-left: 39px;
		padding-right: 39px;		
		.popular-item {			
			margin-left: 24px;
			float: left;
			display: block;				
			position: relative;
			    outline: none;
			// Start popular item
			.popular-item-content {
				width: 280px;
				border: 1px solid $light-grey;
				transition: all 0.5s ease-out;
				margin-bottom: 10px;
				&:hover {
					box-shadow: 0 2px 4px rgba(51,51,51,0.35);
				}
				.image-item {
					position: relative;
					img {
						height: 262px;
					}
					// Start heart
					.heart {
						position: absolute;
						top: 16px;
						right: 16px;
						content: url('../new-images/popular-heart.png');
						height: 23px;
						width: 25px;
						z-index: 1;
						cursor: pointer;
						&:hover {
							content: url('../new-images/popular-heart-broken.png');
						}
					}
					.empty {
						content: url('../new-images/popular-heart-empty.png');
						&:hover {
							content: url('../new-images/popular-heart.png');
						}
					}
					// End heart
					.more-information-item {
						position: absolute; 
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background:rgba(51,51,51,0.85); 
						color: $white;							
						.size {
							margin: 15px;
						}
						.underline-text {
							margin-top: 22px;
							text-decoration: underline;
						}
						p {
							margin-left: 15px;
							line-height: 1.4;
						}
					}
				}
				// Start details
				.details {
					height: 119px;					
					padding-right: 12px;
					// Start stars
					.stars {
						padding-top: 10px;
						padding-left: 15px;
						height: 15px;
						width: 80px;
						position: relative;
						.empty {		
							position: absolute;
							width: 100%;
							height: 100%;				
							background:url('../new-images/star-empty.png') repeat-x;							
						}
						.raiting {
							position: absolute;
							width: 100%;
							height: 100%;					
							background:url('../new-images/star.png') repeat-x;
						}
					}
					// End stars
					// Start delivers
					.delivers {
						color: $dark-green;
						margin-top: 7px;
						height: 27px;
						font-size: 12px;
						padding-left: 15px;
						.type-of-deliver {								
							height: 30px;
							margin-top: 2px;
							float: left;							
							.explain {
								transition: opacity 1s ease-out;
							    opacity: 0; 
							    height: 0;
							    overflow: hidden;
							}
							.icon {
								transition: all 1s ease-out;
							}
							&:hover {
								.explain {
									opacity: 1;
									height: auto;
								}
								.icon {
									opacity: 0; 
								    height: 0;
								    overflow: hidden;
								}
							}
							
						}
						.deliver {
							margin-left: 21px;
							margin-right: 25px;
						}								
						.date-of-deliver {
							float: left;
						}
					}
					// End delivers
					// Start buy section
					.buy-section {
						margin-top: 10px;
						.price {
							font-size: 20px;
							width: 140px;
							display: inline-block;
							text-align: center;
							vertical-align: sub;
						}
						.buy-button {
							height: 33px;
							width: 123px;
							font-weight: 500;
							display: inline-block;
						}
					}
					// End buy section
				}
				// End details
			}
			// End popular item content				
		}
		// End popular item 
	}
	.arrow {	
			padding: 0;		
			position: absolute;
			top: 50%;
			background: transparent;
		}
		.left-arrow {
			left: 0;
		}
		.right-arrow {
			right: 0;
		}
}
// End popular items