// Start popular items
.popular-items {
	width: $narrow-width;		
	margin: 0 auto;
	position: relative;
	min-height: 450px;
	.popular-items-list {
		list-style: none;
		padding-left: 44px;
		padding-right: 44px;
		.popular-item {				
			width: 25%;
			float: left;
			display: block;				
			position: relative;				
			// Start popular item
			.popular-item-content {
				margin: 10px;
				border: 1px solid $light-grey;transition: all 0.5s ease-out;
				&:hover {
					box-shadow: 2px 2px 3px rgba(51,51,51,0.5);
				}
				.image-item {
					position: relative;
					img {
						max-width: 100%;
					}
					// Start heart
					.heart {
						position: absolute;
						top: 30px;
						right: 30px;
						content: url('../new-images/heart-orange.png');
						height: 27px;
						width: 27px;
						z-index: 1;
						&:hover {
							content: url('../new-images/broken-heart.png');
						}
					}
					.empty {
						content: url('../new-images/heart-contour.png');
						&:hover {
							content: url('../new-images/heart-orange.png');
						}
					}
					// End heart
					.more-information-item {
						position: absolute; 
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background:rgba(51,51,51,0.85); 
						color: $white;							
						.size {
							margin: 15px;
						}
						.underline-text {
							margin-top: 22px;
							text-decoration: underline;
						}
						p {
							margin-left: 15px;
						}
					}
				}
				// Start details
				.details {
					margin: 10px;
					// Start stars
					.stars {							
						list-style: none;
						.star {
							display: inline-block;
							em {
								display: inline-block;
								width: 15px;
								height: 15px;
								background-repeat: no-repeat;
								background-image:url('../new-images/star.png');
							}
						}
						.empty {
							em {
								background-image:url('../new-images/star-empty.png');
							}
						}
					}
					// End stars
					// Start delivers
					.delivers {
						font-size: 9pt;
						color: $dark-green;
						margin-top: 10px;
							height: 30px;
						.type-of-deliver {								
							word-wrap: true;
							width: 25%;
							height: 30px;
							float: left;								
							word-wrap: break-word;
							.explain {
								transition: opacity 1s ease-out;
							    opacity: 0; 
							    height: 0;
							    overflow: hidden;
							}
							.icon {
								transition: all 1s ease-out;
							}
							&:hover {
								.explain {
									opacity: 1;
									height: auto;
								}
								.icon {
									opacity: 0; 
								    height: 0;
								    overflow: hidden;
								}
							}
						}
						.date-of-deliver {
							width: 50%;
							float: left;
						}
					}
					// End delivers
					// Start buy section
					.buy-section {
						margin-top: 10px;
						.price {
							width: 50%;
							display: inline-block;
						}
						.buy-button {
							width: 45%;
							display: inline-block;
						}
					}
					// End buy section
				}
				// End details
			}
			// End popular item content				
		}
		// End popular item 
	}
	.arrow {			
			position: absolute;
			top: 50%;
			background: transparent;
		}
		.left-arrow {
			left: 0px;
		}
		.right-arrow {
			right: 0px;
		}
}
// End popular items