// Start slideshow
.slideshow-content {
	position: relative;
	li {
		position: relative;
		.caption-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right:0;
			width: $narrow-width;
			margin: 0 auto; 
			.title-slide {
				background: $white;
				position: absolute;				
				top: 56px;
				left: 0;
				width: 445px;
				height: 103px;
				border-radius: 4px;
				border: 1px solid $light-grey;
				.orange-title-slide {
					color: $orange;
				}
			}
			p {
				font-size: 20px;
				padding-top: 18px;
				padding-left: 20px;
			}
			.high-text {
				text-transform: uppercase;
			}
		}	
		img {
			border-bottom: 1px solid $light-grey;
		}	
	}	
	.button-wrapper {
		position: absolute;
		width: $narrow-width;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		height: 100%;
		.arrow {	
			padding: 0;		
			position: absolute;
			top: 40%;
			opacity: 0.65;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			background: $white;	
			transition: all 0.3s ease;
			&:hover {
				background: $orange;				
			}
			em {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 41px;
				width: 21px;
				margin: auto;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		.m-left-arrow {
			left: -23px;
			em {
				right: 5px;
				background-image: url('../new-images/left-gray-arrow.png');
			}
		}
		.m-right-arrow {
			right: -23px;
			em {
				left: 5px;
				background-image: url('../new-images/right-gray-arrow.png');
			}
		}	
	}
}
// End slideshow
@media (max-width: 1340px) {
	.slideshow-content {
		li {
			.caption-wrapper {
				.title-slide {
					left: 30px;
				}
			}
		}
		.button-wrapper {
			.m-left-arrow {
				left: 7px;
			}
			.m-right-arrow {
				right: 7px;
			}	
		}
	}
}