// Start best of
.best-of {
	margin-top: 58px;
	display: block;
	clear: both;
	height: 335px;
	background: url('../new-images/the-best.png') no-repeat center;
	background-size: cover;
	border-bottom: 1px solid $light-grey;
	.content {
		width: $narrow-width;
		margin: 0 auto;
		height: 100%;
		position: relative;
		h2 {
			padding-top: 94px;
			text-transform: uppercase;
			font-size: 33px;
			font-weight: 500;
		}
		.orange-text {
			color: $orange;
		}
		img {			
			position: absolute;
			left: 0;
			bottom: 66px;
			height: 30px;
		}
	}
}
// End best of